@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  background: #ffffff;
  color: black;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 20px;
  background-color: gray;
  color:#fff;
  padding:.4rem 3rem;
  border:.2rem solid var(--black);
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover{
  background:rgba(6%, 0%, 100%, 0%);
  color:var(--black);
}



/*Navbar*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 10;
}

/*navigation bar */
.main_nav_container{
  width: 100%;
  background-color:#f4f4f4;
  box-shadow: 0 0 16px rgba(0,0,0,.015);
}
.navbar{
  width: auto;
  height: 100px;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar_menu li{
  display: inline-block;
  text-decoration: none;
}
.navbar_menu li a{
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px;
  text-decoration: none;
  transition: color 0.3 ease;
}
.navbar_menu li a:hover{
  color: #b5aeb5 ;
  text-decoration: none;
}
.navbar_user{
  margin-left: 37px;
}
.navbar_user li{
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.navbar_user li a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  color: black;
  transition: color 0.3s ease;
  text-decoration: none;
}
.navbar_user li a:hover{
  color: #b5aeb5;
  text-decoration: none;
}
.checkout{
  color: black;
}
.checkout a{
  border-radius: 50%;
}
.checkout_items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F8CC1D;
  font-size: 12px;
  color:#ffffff;
  text-decoration: none;
}



/*packages body*/
.container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.container .row{
 
  border-radius: .10px;
  overflow: hidden;
  width: 1200px;
}

.container .row img{
  height: 100%;
  width:100%;
  object-fit: cover;
}


.container .card .row .card-body{
  padding:2rem;
}

.container .card .row .card-body h3{
  font-size:30px;
  font-weight: 35px;
  color:black;

}

.container .card .row .card-body h3 i{
  color:var(--orange);
}
.container .card .row .card-body p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
}

.container .card .row .card-body .stars i{
  font-size:1.7rem;
  color: #1E90FF;
}

.container .row .card-body .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.container .row .card-body .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.categories{
  margin-top: 50px;
  margin: 70px 0;
}
.categories h1{
  text-align: center;
  font-size: 40px;
  font-weight: 750px;
}
.categories hr{
  border-radius: 50px;
  border: none;
  width: 70%;
  margin-left: 280px;
  height: 7px;
  background: #008000;
  margin-bottom: 3px;
}
.categories h2{
  text-align: center;
  margin-left: 350px;
  font-size: 30px;
  font-weight: 700px;
}


/* footer */

.footer-bs {
    background-color: #2b2c30;
  padding: 60px 40px;
  color: rgba(255,255,255,1.00);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, 
.footer-bs .footer-nav, 
.footer-bs .footer-social, 
.footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none;  padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { text-decoration:none; color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

#social-medialist{
      position: bottom;
      padding: 0;
       
          float: left;

    }
     #social-medialistitem{
      list-style: none;
      margin: 0 15px;
    }
     #social-medialistitem .fa{
      font-size: 20px;
      line-height: 40px;
      transition: .6s;
      color: white;
    }
     #icon{
      position: relative;
      display: block;
      width: 40px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      transition: .6s;
      box-shadow: 0 5px 4px rgba(0,0,0,.5);

    }

     #icon:hover{
      transform: translate(0, -10px);
    }

     #social-medialistitem:nth-child(1) #icon:hover{
      background-color: #3b5999;
    }
     #social-medialistitem:nth-child(2) #icon:hover{
      background-color: #55acee;
    }
     #social-medialistitem:nth-child(3) #icon:hover{
      background-color: #e4405f;
    }
     #social-medialistitem:nth-child(4) #icon:hover{
      background-color: #0077B5;
    }

